name: build-and-test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet-version: ['8.0.x', '10.0.x']

    env:
      config: 'Release'
      DOTNET_NOLOGO: true
      DOTNET_CLI_TELEMETRY_OPTOUT: true
      
    defaults:
      run:
        working-directory: src
        
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    
    - name: Setup .NET ${{ matrix.dotnet-version }}
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ matrix.dotnet-version }}

    - name: Clean
      run: dotnet clean ./FuncSharp.sln --configuration $config && dotnet nuget locals all --clear

    - name: Install dependencies
      run: dotnet restore
    
    - name: Build
      run: dotnet build --configuration $config --no-restore
    
    - name: Test
      run: dotnet test --no-restore --no-build --configuration $config --logger "trx;LogFileName=test-results.trx" || true

    - name: Test Report
      uses: dorny/test-reporter@v1
      if: success() || failure()
      with:
        name: Mews.FuncSharp Tests report (.NET ${{ matrix.dotnet-version }})
        path: "**/test-results.trx"
        reporter: dotnet-trx
        fail-on-error: true
